@using Blog.Resources
@model string
<li class="dropdown">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="halflings-icon white user"></i> @Model
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown-menu-title">
            <span>@Displays.AccountSettings</span>
        </li>
        <form id="frmLogout" action="@Url.Action("LogOff","Account")" method="post">
            @Html.AntiForgeryToken()
        </form>
        <li><a href="@Url.Action("Index","Profile")"><i class="halflings-icon user"></i> @Displays.Profile</a></li>
        <li><a href="javascript:void(0)" onclick="$('#frmLogout').submit();"><i class="halflings-icon off"></i> @Displays.Logout</a></li>
    </ul>
</li>