
<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li><a href="@Url.Action("Index","Dashboard")"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
            <li>
            <li><a href="@Url.Action("Index","Contact")"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Contact</span></a></li>
            <li>
            <li>
                <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Kategoriler</span></a>
                <ul>
                    <li><a class="submenu" href="@Url.Action("Index","Category")"><i class="icon-file-alt"></i><span class="hidden-tablet"> Kategori</span></a></li>
                    <li><a class="submenu" href="@Url.Action("New","Category")"><i class="icon-file-alt"></i><span class="hidden-tablet"> Yeni Kategori</span></a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("Index","Blocker")"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Yasaklanmış Kullanıcılar</span></a></li>
            <li>
            <li><a href="@Url.Action("Index","Setting")"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Ayarlar</span></a></li>
            <li>
        </ul>
    </div>
</div>
