@model Blog.AI.Models.TableViewModel<Blog.Models.Contact>
<form id="table">
    @Html.HiddenFor(x => x.CurrentPage)
    <div class="box span12">
        <div class="box-header">
            <h2><i class="halflings-icon white align-justify"></i><span class="break"></span>İletişim Mesajları</h2>
            <div class="box-icon">
            </div>
        </div>
        <div class="box-content" id="tableContent">
            <div class="row-fluid">
                <div class="control-group span6">
                    <label class="control-label" for="@Html.NameFor(x=> x.Perpage)">Gösterilecek sayı</label>
                    <div class="controls">
                        @Html.DropDownListFor(x => x.Perpage, new List<SelectListItem>
                       {
                               new SelectListItem
                               {
                                   Value = "10",
                                   Text = "10"
                               },
                               new SelectListItem
                               {
                                   Value = "25",
                                   Text = "25"
                               },
                               new SelectListItem
                               {
                                   Value = "50",
                                   Text = "50"
                               },new SelectListItem
                               {
                                   Value = "100",
                                   Text = "100"
                               },
                               new SelectListItem
                               {
                                   Value = "250",
                                   Text = "250"
                               },
                               new SelectListItem
                               {
                                   Value = "500",
                                   Text = "500"
                               },
                               new SelectListItem
                               {
                                   Value = "1000",
                                   Text = "1000"
                               }

                       })
                    </div>
                </div>
                <div class="control-group span6">
                    @Html.EditorFor(x => x.Search)
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tam Adı</th>
                        <th>Başlık</th>
                        <th>Ip</th>
                        <th>Gönderilme Tarihi</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contact in Model.Hits)
                    {

                        <tr>
                            <td>@contact.Fullname</td>
                            <td class="center">@contact.Title</td>
                            <td class="center">@contact.UserIp</td>
                            <td class="center">@contact.Created.ToShortDateString()</td>
                            <td class="center">@contact.ContactStatus</td>
                            <td class="center">
                                <a class="btn btn-success" href="@Url.Action("ReadMessage", new { id = contact.Id })">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
                                <a class="btn btn-danger" href="javascript:void(0)" onclick="removeItem(@contact.Id)">
                                    <i class="halflings-icon white trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="pagination pagination-centered">
                <ul>
                    <li class="prev @(Model.CurrentPage == 1 ? "disabled" : "") "><a href="javascript:void(0)" onclick="changePage(@(Model.CurrentPage == 1 ? -1 : Model.CurrentPage - 1))">Önceki</a></li>
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li @(Model.CurrentPage == i ? "class='active disabled'" : "")><a href="javascript:void(0)" onclick="changePage(@i)">@i</a></li>
                    }
                    <li class="next @(Model.CurrentPage == Model.PageCount ? "disabled" : "")"><a href="javascript:void(0)" onclick="changePage(@(Model.CurrentPage == Model.PageCount ? -1 : Model.CurrentPage + 1))">Sonraki</a></li>
                </ul>
            </div>
        </div>
    </div><!--/span-->
</form>
<script>
    $(document).ready(
        function () {
            $("#@Html.IdFor(x=> x.Perpage)").change(function () {
                changePage(1);
            });
            $('#@Html.IdFor(x => x.Search)').change(function () {

                changePage(1);
            });
        }
        );
</script>