@model Blog.Models.Article

@{
    ViewBag.Title = "Post";
}

<!-- BREADCRUMBS -->
<section class="breadcrumbs_block clearfix parallax">
    <div class="container center">
        <h2><b>The</b> Blog</h2>
        <p>Publication of the latest news, articles, and free apps.</p>
    </div>
</section><!-- //BREADCRUMBS -->
<!-- BLOG -->
<section id="blog">

    <!-- CONTAINER -->
    <div class="container">

        <!-- ROW -->
        <div class="row">

            <!-- BLOG BLOCK -->
            <div class="blog_block col-lg-9 col-md-9 padbot50">

                <!-- SINGLE BLOG POST -->
                <div class="single_blog_post clearfix" data-animated="fadeInUp">
                    <div class="single_blog_post_descr">
                        <div class="single_blog_post_date">@Model.Created.ToString("d") | @Model.Created.ToString("t")</div>
                        <div class="single_blog_post_title">@Model.Title</div>
                        <ul class="single_blog_post_info">
                            <li><a href="javascript:void(0);">@Model.Comments.Count Yorum</a></li>
                            <li><a href="javascript:void(0);">@Model.ViewCount Görüntüleme</a></li>
                        </ul>
                    </div>
                    <div class="single_blog_post_img"><img src="/images/blog/1.jpg" alt="" /></div>

                    <div class="single_blog_post_content">
                         @Html.Raw(Model.Content)
                    </div>
                </div><!-- //SINGLE BLOG POST -->

                @*<!-- SINGLE BLOG POST TAG -->
                <div class="single_blog_post_tags margbot50" data-animated="fadeInUp">
                    <ul>
                        <li><a href="javascript:void(0);">Fashion</a></li>
                        <li><a href="javascript:void(0);">Shop</a></li>
                        <li><a href="javascript:void(0);">Color</a></li>
                    </ul>
                </div><!-- //SINGLE BLOG POST TAG -->*@

                <hr>

                <!-- COMMENTS -->
                <div id="comments" class="margbot30" data-animated="fadeInUp">
                    <h3><b>Comments </b><span class="comments_count">(152)</span></h3>

                    <ul>
                        <li class="clearfix" data-animated="fadeInUp">
                            <div class="pull-left avatar">
                                <a href="javascript:void(0);"><img src="/images/avatar1.jpg" alt="" /></a>
                            </div>
                            <div class="comment_right">
                                <div class="comment_info clearfix">
                                    <div class="pull-left comment_author">Stanislav Kerimov</div>
                                    <div class="pull-left comment_inf_sep">|</div>
                                    <div class="pull-left comment_date">13 January 2014</div>
                                </div>
                                <p>Thank you so much for putting this together Jeremy. Most of these seem like common sense but it is amazing how many times I see new employees having the worst days of their life because managers/leaders don’t want to be “bothered” with the new guy.</p>
                            </div>
                        </li>
                        <li class="clearfix" data-animated="fadeInUp">
                            <div class="pull-left avatar">
                                <a href="javascript:void(0);"><img src="/images/avatar1.jpg" alt="" /></a>
                            </div>
                            <div class="comment_right">
                                <div class="comment_info clearfix">
                                    <div class="pull-left comment_author">Anna Balashova</div>
                                    <div class="pull-left comment_inf_sep">|</div>
                                    <div class="pull-left comment_date">10 January 2014</div>
                                </div>
                                <p>I would add under “keep the busy” to make sure that every team member is aware of the new team member starting, and even thought the first 1-2 days may be meet and greats, to have them up with access to everything they need to preform their tasks.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- //COMMENTS -->

                <hr class="margbot80">

                <!-- LEAVE A COMMENT -->
                <div class="leave_comment" data-animated="fadeInUp">
                    <h3><b>Leave a</b> Comment</h3>

                    <form id="comment_form" class="row" action="#" method="post">
                        <div class="col-lg-4 col-md-4">
                            <input type="text" name="name" value="Your Name *" onFocus="if (this.value == 'Your Name *') this.value = '';" onBlur="if (this.value == '') this.value = 'Your Name *';" />
                            <input type="text" name="phone" value="E-mail *" onFocus="if (this.value == 'E-mail *') this.value = '';" onBlur="if (this.value == '') this.value = 'E-mail *';" />
                            <input type="text" name="phone" value="Web site" onFocus="if (this.value == 'Web site') this.value = '';" onBlur="if (this.value == '') this.value = 'Web site';" />
                            <div class="comment_note">All fields marked with an asterisk (*) are required</div>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <textarea name="message" onFocus="if (this.value == 'Your message *') this.value = '';" onBlur="if (this.value == '') this.value = 'Your message *';">Your message *</textarea>
                            <input class="contact_btn pull-right" type="submit" value="Send message" />
                        </div>
                    </form>
                </div><!-- //LEAVE A COMMENT -->
            </div><!-- //BLOG BLOCK -->

            <!-- SIDEBAR -->
            @Html.Action("Sidebar", "Home")
            
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
</section><!-- //BLOG -->

