@using Blog.Resources

@{
    ViewBag.Title = Displays.Profile;
}

<div class="row-fluid">

    <div class="box span12">
        <div class="box-header">
            <h2><i class="halflings-icon white th"></i><span class="break"></span>@Displays.Profile</h2>
        </div>
        <div class="box-content">
            <ul class="nav tab-menu nav-tabs" id="myTab">
                <li class="active"><a href="#information">@Displays.Informations</a></li>
                <li ><a href="#changePassword">@Displays.ChangePassword</a></li>
            </ul>

            <div id="profileTab" class="tab-content">
                <div class="tab-pane active" id="information">

                    @Html.Action("Informations")

                </div>

                <div class="tab-pane" id="changePassword">

                    @Html.Action("ChangePassword")

                </div>
            </div>
        </div>
    </div><!--/span-->

</div>

