@using Blog.Resources
@model Blog.AI.Models.UserInformationViewModel

<div class="box-content">
    <form class="form-horizontal" id="frmUserInformation">

        <fieldset>
            @Html.AntiForgeryToken()
            @Html.EditorFor(x => x.Name)
            @Html.EditorFor(x => x.Surname)
            @Html.EditorFor(x => x.Birthdate)
            <div class="form-actions">
                <button type="button" id="btnSaveInformation" class="btn btn-primary">@Displays.SaveChanges</button>
            </div>
        </fieldset>
    </form>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSaveInformation').click(function () {
            var $this = $("#btnSaveInformation");
            var formData = $("#frmUserInformation").serialize();
            Block($this);

            document.getElementById("btnSaveInformation").innerHTML = "@Displays.Saving";
            $.ajax({
                method: "POST",
                url: '@Url.Action("SaveInformations")',
                data: formData,
                async: true
            })
            .fail(function (response) {
                AddMessage(response, response, "error");


                Unblock($this);
                document.getElementById("btnSaveInformation").innerHTML = "@Displays.SaveChanges";
            })
                .done(function (response) {

                    if (response === "")
                        AddMessage("Hata", "Bir hata oluştu.", "error");

                    $("#information").html(response.view);
                    if (response.IsCompleted)
                        AddMessage(response.title, response.message, "success");
                    else {
                        if (response.title) {
                            AddMessage(response.title, response.message, "error");
                        }
                    }

                    Unblock($this);
                    document.getElementById("btnSaveInformation").innerHTML = "@Displays.SaveChanges";
                })
            ;
        });
    });
</script>
